# Mail settings
MAIL_HOST=imap.example.com
MAIL_PORT=143
MAIL_USER=your_email@example.com
MAIL_PASSWORD=your_password

# Google Chat webhook
GOOGLE_CHAT_WEBHOOK_URL=https://chat.googleapis.com/v1/spaces/SPACE_ID/messages?key=YOUR_KEY&token=YOUR_TOKEN

#Actian Zen SQLAlchemy connection
#Remote connection example
ZEN_SQLALCHEMY_URL="zen:///?odbc_connect=DRIVER={Pervasive ODBC Interface};ServerName=ZEN_SERVER_IP;DBQ=ZEN_DATABASE_NAME;UID=ZEN_USER;PWD=ZEN_PASSWORD;PvTranslate=auto;"
#Local connection example
#ZEN_SQLALCHEMY_URL="zen:///?odbc_connect=DRIVER={Pervasive ODBC Interface};ServerName=localhost;DBQ=ZEN_DATABASE_NAME;UID=ZEN_USER;PWD=ZEN_PASSWORD;PvTranslate=auto;"

# Actian Zen Btrieve connection
# Local file example:
BTRIEVE_FILE_PATH=C:/path/to/mail_records.btr
# Remote shared file example:
BTRIEVE_FILE_PATH=//your-server/share-name/folder-name/your_file.MKD

## Store mode: sql / btrieve / both
STORE_MODE=both
